/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~bs-stepper/dist/css/bs-stepper.min.css";

@font-face {
  font-family: Geoma Regular Demo;
  src: url(assets/font/geoma-demo.regular-demo.otf) format("opentype");
}

@font-face {
  font-family: Arial;
  src: url(assets/font/arial.ttf) format("opentype");
}

html,
body {
  // height: 100%;
  background-color:#fafafa ;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-datatable {
  position: inherit !important;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */

/*****************************************************
	Custom styling example bellow.
*****************************************************/

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */

.modal-backdrop {
  z-index: 1050 !important;
}

.p-datatable .p-datatable-thead>tr>th {
  background-color: white;
  text-align: left;
  font: normal normal normal 14px/19px Geoma Regular Demo;
  letter-spacing: 0px;
  color: #354360;
}

.h4 {
  font-family: Geoma Regular Demo !important;
  letter-spacing: 0px;
  color: #354360;
}

.label {
  font-family: Geoma Regular Demo !important;
}

.fontsTyle {
  font-family: Geoma Regular Demo !important;
  font-size: 1rem;
}

.p-datatable-thead {
  // position: inherit !important;
}

 .p-datatable .p-datatable-thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.layout-news-active  .p-datatable tr > th {
  top: 7rem;
}

.cursor-pointer {
  cursor: pointer !important;
}

.justify-content-right {
  justify-content: right !important;
}

.action-bar {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px 10px;

  .search {

    position: relative;
    margin-top: 0px;
    margin-left: 11px;
    input:focus {
      box-shadow: none;
      border: 1px #f1f1f1;
    }

    input {
      height: 60px;
      text-indent: 35px;
      border: 1px #d6d4d4;
    }

    .fa-search {
      position: absolute;
      top: 12px;
      left: 16px;
      opacity: 0.6;
    }

    .form-control {
      width: 70%;
      height: 38px;
      // background-color: #f1f1f1;

      background: #F8F8F8 0% 0% no-repeat padding-box;
      border: 0.20000000298023224px solid #70707040;
      border-radius: 5px;
    }
  }

  .addbtn {
    background-color: #02b2b2;
    border-color: #02b2b2;
    height: 35px;
    margin-right: 25px;
    font-size: 0.8rem !important;
    color: white;

    //  background: url(../../../../assets/icon/icon-add.svg) no-repeat;
    &:focus {
      background-color: #049595;
      border-color: #049595;
    }

    &:hover {
      background-color: #049595;
      border-color: #049595;
      color: white;
    }
  }
}
.btn {
  border-radius: 2px !important;
}
.container-root {
  padding: 2px 30px;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
